<style>
    @import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
    html,
    body {
        height: 100%;
    }
    .tictactoe {
        height: 300px;
        width: 300px;
        padding: 12px;
        background: rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 30px;
        font-family: Permanent Marker, sans-serif;
        font-size: 80px;
        color: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
    }
    .tictactoe .r {
        flex: 1;
        display: flex;
    }
    .tictactoe .r .cell {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .tictactoe .r {
        border-top: 3px solid rgba(0, 0, 0, 0.6);
        border-bottom: 3px solid rgba(0, 0, 0, 0.6);
    }
    .tictactoe .r:first-child {
        border-top: none;
    }
    .tictactoe .r:last-child {
        border-bottom: none;
    }
    .tictactoe .r .cell {
        border-left: 3px solid rgba(0, 0, 0, 0.6);
        border-right: 3px solid rgba(0, 0, 0, 0.6);
        overflow: hidden;
    }
    .tictactoe .r .cell:first-child {
        border-left: none;
    }
    .tictactoe .r .cell:last-child {
        border-right: none;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            Game ID: {{game.state.id}}
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                Players:
                <ul>
                    <li ng-repeat="p in game.state.players">{{p.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="center-row">
    <div ng-show="game.state.over">
        <p ng-show="game.state.winner">Winner is {{game.state.winner}}</p>
        <p ng-show="!game.state.winner">Stalemate!</p>
    </div>
</div>
<div class="center-row">
    <div class="tictactoe">
        <div class="r">
            <div class="cell" ng-click="move(0, 0)">{{board(0,0)}}</div>
            <div class="cell" ng-click="move(1, 0)">{{board(1,0)}}</div>
            <div class="cell" ng-click="move(2, 0)">{{board(2,0)}}</div>
        </div>
        <div class="r">
            <div class="cell" ng-click="move(0, 1)">{{board(0,1)}}</div>
            <div class="cell" ng-click="move(1, 1)">{{board(1,1)}}</div>
            <div class="cell" ng-click="move(2, 1)">{{board(2,1)}}</div>
        </div>
        <div class="r">
            <div class="cell" ng-click="move(0, 2)">{{board(0,2)}}</div>
            <div class="cell" ng-click="move(1, 2)">{{board(1,2)}}</div>
            <div class="cell" ng-click="move(2, 2)">{{board(2,2)}}</div>
        </div>
    </div>
</div>
<hr/>
<div class="center-row">
    <button ng-click="leave()" class="btn btn-primary btn-lg">Leave game</button>
</div>