<style>
    @import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
    html,
    body {
        height: 100%;
    }
    #container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .messages {
        display: flex;
        height: 100px;
    }
    .tictactoe {
        height: 300px;
        width: 300px;
        padding: 12px;
        background: rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 30px;
        font-family: Permanent Marker, sans-serif;
        font-size: 80px;
        color: rgba(0, 0, 0, 0.6);
    }
    .tictactoe {
        display: flex;
        flex-direction: column;
    }
    .tictactoe .row {
        flex: 1;
        display: flex;
    }
    .tictactoe .row .cell {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tictactoe .row {
        border-top: 3px solid rgba(0, 0, 0, 0.6);
        border-bottom: 3px solid rgba(0, 0, 0, 0.6);
    }
    .tictactoe .row:first-child {
        border-top: none;
    }
    .tictactoe .row:last-child {
        border-bottom: none;
    }
    .tictactoe .row .cell {
        border-left: 3px solid rgba(0, 0, 0, 0.6);
        border-right: 3px solid rgba(0, 0, 0, 0.6);
    }
    .tictactoe .row .cell:first-child {
        border-left: none;
    }
    .tictactoe .row .cell:last-child {
        border-right: none;
    }
</style>
<div class="messages">
    <p>{{message}}</p>
</div>
<div class="messages">
    Players:
    <ul>
        <li ng-repeat="p in game.state.players">{{p.name}}</li>
    </ul>
    Game ID: {{game.state.id}}
    <div ng-show="game.state.over">
        <p ng-show="game.state.winner">Winner is {{game.state.winner}}</p>
        <p ng-show="!game.state.winner">Stalemate!</p>
    </div>
</div>
<div class="tictactoe">
    <div class="row">
        <div class="cell" ng-click="move(0, 0)">{{board(0,0)}}</div>
        <div class="cell" ng-click="move(1, 0)">{{board(1,0)}}</div>
        <div class="cell" ng-click="move(2, 0)">{{board(2,0)}}</div>
    </div>
    <div class="row">
        <div class="cell" ng-click="move(0, 1)">{{board(0,1)}}</div>
        <div class="cell" ng-click="move(1, 1)">{{board(1,1)}}</div>
        <div class="cell" ng-click="move(2, 1)">{{board(2,1)}}</div>
    </div>
    <div class="row">
        <div class="cell" ng-click="move(0, 2)">{{board(0,2)}}</div>
        <div class="cell" ng-click="move(1, 2)">{{board(1,2)}}</div>
        <div class="cell" ng-click="move(2, 2)">{{board(2,2)}}</div>
    </div>
</div>
<div class="messages">
    <button ng-click="leave()">Leave game</button>
</div>