.center-row {
    display: flex;
    justify-content: center;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}
