<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="thirdparty/paper.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="thirdparty/jquery-2.1.4.min.js"></script>
    <script src="thirdparty/bootstrap/js/bootstrap.min.js"></script>
    <script src="thirdparty/angular/angular.min.js"></script>
    <script src="thirdparty/angular/angular-route.min.js"></script>
</head>
<body ng-app="game" ng-controller="RootCtrl">
<div class="label label-danger" ng-if="!game.connected" style="position: absolute;">
    Connecting...
</div>
<div ng-view></div>

<ul>
    <li ng-repeat="m in game.messages track by $index">
        {{m}}
    </li>
</ul>

<script src="app.js"></script>
<script src="setup/setup.js"></script>
<script src="play/play.js"></script>
</body>
</html>
